<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comerciales</title>
    <th:block th:include="fragments/head-fragment.html :: headerfiles">
    </th:block>
</head>
<body>
    <div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
        <div class="clearfix">
            <div style="float: left; width: 50%">
                <h1 th:text="#{msg.comercial}">Comerciales</h1>
            </div>
            <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

                <div style="position: absolute; left: 39%; top : 39%;">

                    <form action="/comerciales/crear">
                        <input th:value="#{btn.crear}" type="submit" value="Crear" class="btn btn-success">
                    </form>
                </div>

            </div>
        </div>
        <div class="clearfix">
            <hr/>
        </div>
        <div class="clearfix">
            <div th:text="#{msg.comercial.id}" style="float: left;width: 14%">Id</div>
            <div th:text="#{msg.comercial.nombre}" style="float: left;width: 14%">Nombre</div>
            <div th:text="#{msg.comercial.apellido1}" style="float: left;width: 14%">Apellido1</div>
            <div th:text="#{msg.comercial.apellido2}" style="float: left;width: 14%">Apellido2</div>
            <div th:text="#{msg.comercial.comision}" style="float: left;width: 14%">Comision</div>
        </div>
        <div class="clearfix">
            <hr/>
        </div>

        <div  th:each="comercial : ${listaComerciales}" style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 14%" th:text="${comercial.id}">0</div>
            <div style="float: left;width: 14%" th:text="${comercial.nombre}">nombre</div>
            <div style="float: left;width: 14%" th:text="${comercial.apellido1}">apellido1</div>
            <div style="float: left;width: 14%" th:text="${comercial.apellido2}">apellido2</div>
            <div style="float: left;width: 14%" th:text="${comercial.comision}">comision</div>
            <div style="float: none;width: auto;overflow: hidden;">
                <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                    <input th:value="#{btn.ver.detalle}" type="submit" value="Ver Detalle" class="btn btn-info" />
                </form>
                <form th:action="@{/comerciales/editar/}+${comercial.id} " style="display: inline;">
                    <input th:value="#{btn.editar}" type="submit" value="Editar" class="btn btn-primary" />
                </form>
                <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                    <input th:value="#{btn.borrar}" type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>