<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comerciales</title>
    <th:block th:include="fragments/head-fragment.html :: headerfiles">
    </th:block>
</head>
<body>
    <div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
        <div class="col-md-4 align-self-center" >
            <span th:text="#{lang.cambio}"></span>:
            <select id="locales">
                <option value="es" th:text="#{lang.espaniol}" th:selected="${'es'==#locale.language}"></option>
                <option value="en" th:text="#{lang.ingles}" th:selected="${'en'==#locale.language}"></option>
            </select>
        </div>
        <div class="clearfix">
            <div style="float: left; width: 50%">
                <h1 th:text="#{msg.comercial}">Comerciales</h1>
            </div>
            <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

                <div style="position: absolute; left: 39%; top : 39%;">

                    <form action="/comerciales/crear">
                        <input th:value="#{btn.crear}" type="submit" value="Crear" class="btn btn-success">
                    </form>
                </div>

            </div>
        </div>
        <div class="clearfix">
            <hr/>
        </div>
        <div class="clearfix">
            <div th:text="#{msg.comercial.id}" style="float: left;width: 14%">Id</div>
            <div th:text="#{msg.comercial.nombre}" style="float: left;width: 14%">Nombre</div>
            <div th:text="#{msg.comercial.apellido1}" style="float: left;width: 14%">Apellido1</div>
            <div th:text="#{msg.comercial.apellido2}" style="float: left;width: 14%">Apellido2</div>
            <div th:text="#{msg.comercial.comision}" style="float: left;width: 14%">Comision</div>
        </div>
        <div class="clearfix">
            <hr/>
        </div>

        <div  th:each="comercial : ${listaComerciales}" style="margin-top: 6px;" class="clearfix">
            <div style="float: left;width: 14%" th:text="${comercial.id}">0</div>
            <div style="float: left;width: 14%" th:text="${comercial.nombre}">nombre</div>
            <div style="float: left;width: 14%" th:text="${comercial.apellido1}">apellido1</div>
            <div style="float: left;width: 14%" th:text="${comercial.apellido2}">apellido2</div>
            <div style="float: left;width: 14%" th:text="${comercial.comision}">comision</div>
            <div style="float: none;width: auto;overflow: hidden;">
                <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                    <input th:value="#{btn.ver.detalle}" type="submit" value="Ver Detalle" class="btn btn-info" />
                </form>
                <form th:action="@{/comerciales/editar/}+${comercial.id} " style="display: inline;">
                    <input th:value="#{btn.editar}" type="submit" value="Editar" class="btn btn-primary" />
                </form>
                <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                    <input th:value="#{btn.borrar}" type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.bundle.js}" type="text/javascript" ></script>
    <script th:inline="javascript">
        $(function (){
            let url = new URL(window.location.href);
            let valLang = url.searchParams.get('lang')
            $('#locales option[value="'+valLang+'"]').attr('selected', 'selected');

            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    let url = new URL(window.location.href);
                    url.searchParams.set('lang', selectedOption);
                    window.location.href= url.href;
                }
            });
        });
    </script>
</body>
</html>